<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Lockers</title>
</head>
<body>
    <h1>DAC - Student Lockers Allocation List</h1>
    <table border="1">
        <tr>
            <th>Sr.No.</th>
            <th>RollNo</th>
            <th>Name</th>
            <th>Group</th>
            <th>Gender</th>
            <th>LockerNo</th>
        </tr>
        {% for student in locker_data %}
        <tr>
            <td>{{ student['Sr.No.'] }}</td>
            <td>{{ student['RollNo'] }}</td>
            <td>{{ student['Name'] }}</td>
            <td>{{ student['Group'] }}</td>
            <td>{{ student['Gender'] }}</td>
            <td>{{ student['LockerNo'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
